<!-- Page Wrapper -->

<div id="wrapper">

    <app-sidebar> </app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <app-topbar></app-topbar>

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"> Survey Data</h1>
                    <a routerLink="/dashboard" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                        <mat-icon style="position: absolute;">picture_as_pdf</mat-icon>
                        <span style="margin-left: 30px;">Quick Generate Report</span> 
                    </a>
                </div>
                <!-- picture_as_pdf -->
                <div class="container">
                    <div class="row">
                        <div class="search-hero">
                            <input class="form-control" type="text" name="search" autocomplete="off" placeholder="Start searching for a response by name or cell number or faculty">
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Cell Number</th>
                                    <th>Faculty</th>
                                    <th>Question 1</th>
                                    <th>Question 2</th>
                                    <th>Question 3</th>
                                    <th>Question 4</th>
                                    <th>Question 5</th>
                                    <th>Question 6</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr *ngFor="survey hero of surveys | filter:searchText">-->
                                <!-- <tr *ngFor="let survey of surveys">
                                    <td>{{survey.name}}</td>
                                    <td>{{survey.cell}}</td>
                                    <td>{{survey.faculty}}</td>
                                    <td>{{survey.question1}}</td>
                                    <td>{{survey.question2}}</td>
                                    <td>{{survey.question3}}</td>
                                    <td>{{survey.question4}}</td>
                                    <td>{{survey.question5}}</td>
                                    <td>{{survey.question6}}</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>