@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: rgb(255, 255, 255);
  transition: all .35s;
  font-weight: 200;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 5px 5px -2px rgba(0,0,0,.2);
  z-index: 1;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 16px;
  
  font-family: 'Roboto','sans-serif';
  /*text-transform: uppercase; */
  color: #0d4794;
  letter-spacing: 1px;
  font-weight: bold; 
}

#mainNav .navbar-nav > li > a:hover {
  
  font-weight: bold;
  font-size: 20px;
}
#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#sign-in {
  font-size: 16px;
  font-family: 'Roboto','sans-serif';
  /*text-transform: uppercase; */
  color: #0d4794;
  letter-spacing: 2px;
  font-weight: bold;
}

.user-img {
  width:25px;
  height:25px;
  margin-right: 3px;
}




/*

#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
    transition: all .35s;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
  }
  
  #mainNav .navbar-brand {
    color: #ffb700;
    font-family:  'Arial', 'sans-serif';
    font-weight:900;
    letter-spacing: 1px;
  }
  
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: #fcbd20;
  }
  
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222;
  }
  
  #mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  #mainNav .navbar-nav > li > a.active {
    color: #fdcc52 !important;
    background-color: transparent;
  }
  
  #mainNav .navbar-nav > li > a.active:hover {
    background-color: transparent;
  }
  
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222;
  }
  
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      color: fade(white, 70%);
    }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: white;
    }
    #mainNav .navbar-nav > li > a,
    #mainNav .navbar-nav > li > a:focus {
      color: rgb(255, 255, 255);
    }
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: white;
    }
    #mainNav.navbar-shrink {
      border-color: rgba(34, 34, 34, 0.1);
      background-color: white;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #222222;
    }
    #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
      color: #fdcc52;
    }
    #mainNav.navbar-shrink .navbar-nav > li > a,
    #mainNav.navbar-shrink .navbar-nav > li > a:focus {
      color: #222222;
    }
    #mainNav.navbar-shrink .navbar-nav > li > a:hover,
    #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
      color: #fdcc52;
    }
  }
  */