@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* body {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #34495e;
} */

.content {
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
    height: 50px;
    overflow: hidden;
    color: "black";
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 40px;
    color: #ecf0f1;
    width: 700px;
}

.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
}

.content__container:before {
    content: "";
    left: 0;
}

.content__container:after {
    content: "";
    position: absolute;
    right: 0;
}

.content__container:after,
.content__container:before {
    position: absolute;
    top: 0;
    color: #16a085;
    font-size: 32px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}

.content__container__list {
    margin-top: 0;
    padding-left: 110px;
    text-align: right;
    list-style: none;
    color: #000;
    font-size: 20px;
    -webkit-animation-name: change;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.content__container__list__item {
    line-height: 40px;
    margin: 0;
}

@-webkit-keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {
    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes change {
    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}


/* ksnadn --------------------------------------------------------------------------------*/

#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: rgb(255, 255, 255);
    transition: all .35s;
    font-weight: 200;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, .2);
    z-index: 1;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222;
}

#mainNav .navbar-nav>li>a {
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    /*text-transform: uppercase; */
    color: #0d4794;
    letter-spacing: 1px;
    font-weight: bold;
}

#mainNav .navbar-nav>li>a:hover {
    font-weight: bold;
    font-size: 20px;
}

#mainNav .navbar-nav>li>a.active {
    color: #fdcc52 !important;
    background-color: transparent;
}

#sign-in {
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    /*text-transform: uppercase; */
    color: #0d4794;
    letter-spacing: 2px;
    font-weight: bold;
}

.user-img {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}