<p style="text-align: center; color: #0019a1;">Faculties available at eMalahleni Campus</p>
<button type="button" class="btn btn-primary" (click)="assignFaculty('engineering-em'); assignSurvey('engineering-em-survey')"> Engineering and the Build Environmment </button>
<button type="button" class="btn btn-primary" (click)="assignFaculty('humanities-em'); assignSurvey('humanities-em-survey')"> Humanities </button>
<button type="button" class="btn btn-primary" (click)="assignFaculty('ict-em'); assignSurvey('ict-em-survey')"> Information and Communication Technology </button>
<button type="button" class="btn btn-primary" (click)="assignFaculty('man-science-em'); assignSurvey('man-science-em-survey')"> Management Sciences </button>