<div class="page-container" style="padding-bottom: 100px;">
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active"><a routerLink="/campus">Campus</a></li>
    </ol>
  </nav>

<mat-card style="align-content: center;">
  <mat-card-title style="align-content: center">Online Orientation Progress.</mat-card-title>  
  <mat-vertical-stepper fxLayout="column" [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step label='Select Campus'>
        
      <ng-template matStepLabel>Select Campus</ng-template>
      <p>Please choose your campus below to continue.</p>
      
      <form>
        <h4>mat-select</h4>
        <mat-form-field appearance="fill">
          <mat-label>Campus</mat-label>
          <mat-select [(ngModel)]="selectedOption" name="food" (ngModelChange)="onValueChanged($event)">
            <mat-option *ngFor="let option of options" [value]="option.campus">
              {{option.campus}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p> Selected Campus: {{selectedOption}} </p>

        <iframe [src]="selectedOption.map" width="80%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        


      </form>

      <!--      <div class="button-grp">
        <button type="button" class="btn btn-primary" (click)="assignComponent('arcadia')"> Arcadia </button>
        <button type="button" class="btn btn-danger" (click)="assignComponent('arts')"> Arts </button>
        <button type="button" class="btn btn-warning" (click)="assignComponent('emalahleni')"> eMalahleni </button>
        <button type="button" class="btn btn-primary" (click)="assignComponent('garankuwa')"> Ga-Rankuwa </button>
        <button type="button" class="btn btn btn-danger" (click)="assignComponent('mbombela')"> Mbombela </button>
        <button type="button" class="btn btn-warning" (click)="assignComponent('polokwane')"> Polokwane </button>
        <button type="button" class="btn btn-primary" (click)="assignComponent('pretoria')" >Pretoria</button>
        <button type="button" class="btn btn btn-danger" (click)="assignComponent('sosh-south')"> Soshanguve South </button>
        <button type="button" class="btn btn-warning" (click)="assignComponent('sosh-north')"> Soshanguve North </button>
      </div>
      
      -->

      <div>
      <h1><ng-container *ngComponentOutlet="campusComponent"> NO CAMPUS YET SELECTED </ng-container></h1>
    </div>
      <div>
       
        
        <button mat-button matStepperNext>Next</button>
      </div>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>

</div>