<mat-card>
        
  <h1 class="sec-title" style="padding-top: 20px; text-align: center; font-weight: bolder; font-size: 25px; color:#0d4794;"> Faculty of Engineering and the Built Environment</h1>
  <p style="color: #0d4794 ; text-align: center;"> eMalahleni Campus </p>
  <mat-card>
   

  

    <h2  style="padding-top: 15px; font-weight:bold; font-size: 20px; color:#0d4794;" > Office of the Dean </h2>
    
    <div class="row">
      <div class="column">
        <div class="card">

          <div id="instructions">
              <!--
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              -->
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                 #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/faculties/Engineering+and+the+Built+Environment/Dr+Grace+Kanakana+Katumba.mp4" type='video/mp4' />

              </video>
              <p style="font-weight: bold; color: #de0428;">Executive Dean</p>
             
            </div>

        </div>
      </div>
     
      <div class="column">
            
        <a href="https://dh2dlbjd2qx17.cloudfront.net/videos/New+Videos/booklets/FEBE_2022+first+year+guide.pdf" target="_blank" style="text-decoration: underline; color: rgb(196, 0, 0);">
          <div class="card">
            <mat-card class="example-card">
                <mat-card-content>
                    <img mat-card-image  src="https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg" height="130px" alt="Photo of a Shiba Inu">
                  
                    Click to download the first year Guide.
                  </mat-card-content>
              </mat-card>
          </div>
        </a>
  
    </div>
     
    </div>
  </mat-card>


    <mat-card>
        
      <h1 style="padding-top: 15px; font-weight:bold; font-size: 20px; color:#0d4794;"> Departments and Units</h1>
      
      <div class="row">

        <!--<div class="column">
          <div class="card">
  
            <div id="instructions">
                
                    <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                  poster='http://video-js.zencoder.com/oceans-clip.jpg'
                  data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                  <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                  <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
  
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/faculties/Engineering+and+the+Built+Environment/Mr+Mostert+van+Schoor.mp4" type='video/mp4' />
                
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;"> Architecture and Industrial Design </p>
        
          </div>
        </div>-->

        <!--<div class="column">
          <div class="card">
            <div id="instructions">
              
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                 #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/faculties/Engineering+and+the+Built+Environment/Mr+Nazeem+Ansary.mp4" type='video/mp4' />
               
              </video>
             
          </div>
         
          <p style="font-weight: bold; color: #de0428;"> Building Sciences </p>
          </div>
        </div>-->
       
        <!--<div class="column">
          <div class="card">
            <div id="instructions">
              
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                 #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/faculties/Engineering+and+the+Built+Environment/Dr+Mxolisi+Brendon+Shongwe.mp4" type='video/mp4' />
               
              </video>
             
          </div>
          <p style="font-weight: bold; color: #de0428;"> Chemical, Metallurgical and Materials Engineering  </p>
          </div>
        </div>-->

        <!--<div class="column">
          <div class="card">
            <div id="instructions">
              
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                 #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/faculties/Engineering+and+the+Built+Environment/Prof+Jacques+Snyman.mp4" type='video/mp4' />
               
              </video>
             
          </div>
          <p style="font-weight: bold; color: #de0428;"> Civil Engineering </p>
          </div>
        </div>-->

        <div class="column">
          <div class="card">
            <div id="instructions">
              <!--
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              -->
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                 #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/faculties/Engineering+and+the+Built+Environment/Prof+Thomas+Olwal.mp4" type='video/mp4' />
               
              </video>
             
          </div>
          <p style="font-weight: bold; color: #de0428;"> Electrical Engineering </p>
          </div>
        </div>


        <!--<div class="column">
          <div class="card">
            <div id="instructions">
              
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                 #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/faculties/Engineering+and+the+Built+Environment/Mr+Kovilen+Reddy.mp4" type='video/mp4' />
               
              </video>
             
          </div>
          <p style="font-weight: bold; color: #de0428;"> Geomatics </p>
          </div>
        </div>-->

        <!--<div class="column">
          <div class="card">
            <div id="instructions">
              
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                 #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/faculties/Engineering+and+the+Built+Environment/Dr+Louis+Beneke+-+(HEAD+OF+DEPARTMENT+MECHANICAL+%26+MECHATRONICS+ENGINEERING%2CMAIN+CAMPUS).mp4" type='video/mp4' />
                
              </video>
             
          </div>
          <p style="font-weight: bold; color: #de0428;"> Mechanical and Mechatronics Engineering </p>
        
          </div>
        </div>-->
      
      </div>

    </mat-card>

    <mat-card>
        
      <h1 style="padding-top: 15px; font-weight:bold; font-size: 20px; color:#0d4794;"> Campus and Support </h1>
      
      <div class="row">
        <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/campus-support/SDS+Orientation.mp4" type='video/mp4' />
                  
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;">Student Development & Support</p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/general/Health+%26+Wellness%2C+an+Introduction.mp4" type='video/mp4' />
          
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;"> Health & Wellness </p>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/general/What+is+a+study+guide.mp4" type='video/mp4' />
                 
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;"> MyTUTor, What is a Study Guide?</p>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/campus-support/OMBUDSMAN+INTERVIEW.mp4" type='video/mp4' />
                  
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;"> Student Ombudsman </p>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/general/Welcome+Class+of+2021-+your+health+is+in+your+hands.mp4" type='video/mp4' />
                  
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;"> Higher Health </p>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/campus-support/Student+Governance+%26+Leadership+Development.mp4" type='video/mp4' />
                  
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;"> SGLD </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/New+Videos/Jack+Sibanyoni.mp4" type='video/mp4' />
                  
                </video> 
            </div>
            <p style="font-weight: bold; color: #de0428;"> Extracurricular Development </p>
            </div>
          </div>
      </div>
    </mat-card>
</mat-card>