<div class="container page-container">
    <mat-card >

    <p style="padding-top: 15px; font-weight: bold; font-size: 14px; color:#0d4794;"> Complete the form to register. </p>
    <span *ngIf="error" (click)="removeError()">{{ error }}</span>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" [(ngModel)]="email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" [(ngModel)]="password" required>
        </div>

        <button type="submit" class="btn btn-primary" (click)="register()">Submit</button>
    </form>
   
</mat-card>
</div>
