<p style="text-align: center; color: #0019a1;">Faculties available at Polokwane Campus</p>
<button type="button" class="btn btn-primary" (click)="assignFaculty('economics-plk'); assignSurvey('economics-plk-survey')"> Economics and Finance </button>
<button type="button" class="btn btn-primary" (click)="assignFaculty('humanities-plk'); assignSurvey('humanities-plk-survey')"> Humanities </button>
<button type="button" class="btn btn-primary" (click)="assignFaculty('ict-plk'); assignSurvey('ict-plk-survey')"> Information and Communication Technology </button>
<button type="button" class="btn btn-primary" (click)="assignFaculty('man-science-plk'); assignSurvey('man-science-plk-survey')"> Management Sciences </button>