<app-header>
    <mat-progress-bar  style="height: 1%; " mode="determinate" value={{progressbarVal}}></mat-progress-bar>
</app-header>

<!-----------------------------------------------------------------------------Header-->
<div class="hero-image">
    <div class="hero-text">
        <h1 id="hero-heading" style="font-size:40px; font-weight: 600;"> First Year Orientation </h1>
        <p> Get to know your campus, library, student support and department staff.</p>
    </div>
</div>
<!-- <h6></h6> -->


<div class="example-button-container" style="position: fixed; margin-top: 25%; margin-left: 90%;z-index: 5;">
    <button mat-button [matMenuTriggerFor]="menu" mat-fab style="background-color: #0d4794;" aria-label="Example icon button with a home icon">
      <mat-icon>dashboard</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="above">
        <button mat-menu-item style="font-size: large;background-color: #0d4794;color: white">{{usernames}} 
            <!-- <mat-icon>assignment</mat-icon> -->
        </button>
        <button mat-menu-item>Get Your cetificate  
            <mat-icon>assignment_turned_in</mat-icon>
        </button>
        <button (click)="campDirection()" mat-menu-item>Campus Directions 
            <mat-icon>room</mat-icon>
        </button>
        <button (click)="blog()" mat-menu-item>Blog  
            <mat-icon>view_agenda</mat-icon>
        </button>
        <button mat-menu-item>About Us  
            <mat-icon>info</mat-icon>
        </button>
        <button (click)="logout()" mat-menu-item>Logout  
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-menu>
</div>

<div class="page-container" style="padding-bottom: 100px;">
    <!-- Progress Stepper Bar -->
    <mat-card style="align-content: center;box-shadow: none;">
        <mat-card-title style="align-content: center; font-size:medium;">Online Orientation Progress.</mat-card-title>
        <mat-vertical-stepper id="stepper" fxLayout="column" [linear]="isLinear" #stepper (selectionChange)="changeSection($event)" (animationDone)="focus(stepper)">

            <!-- STEP 1 START ORIENTATION -->
            <mat-step label="Start" [completed]="stepOneComplete">
                <ng-template matStepLabel style="background-color: #0d4794;">Start Orientation</ng-template>
                <p> Click next to start the orientation.</p>


                <div>
                    <button mat-button (click)="StepOne(stepper)" style="background-color: #de0428; color: white;">Next</button>
                </div>
            </mat-step>

            <!-- STEP 2 SELECT CAMPUS -->
            <mat-step label="Select Campus" [completed]="stepTwoComplete">

                <ng-template matStepLabel>Select Campus</ng-template>
                <p>Please choose your campus below to continue.</p>

                <mat-button-toggle-group style="margin: 2%;" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle *ngFor="let camp of allCampuses; let indexOfCampus = index" (click)="campClick(camp.id,camp.campus_name)" id="camp.id" [checked]="campusUISELECT[indexOfCampus]">{{camp.campus_name}}</mat-button-toggle>
                </mat-button-toggle-group>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="StepTwo(stepper)" style="background-color: #de0428; color: white;">Next</button>
                </div>


            </mat-step>

            <!-- STEP 3 SELECT FACULTY -->
            <mat-step label="Select Faculty" [completed]="stepThreeComplete">
                <ng-template matStepLabel>Select Faculty</ng-template>
                <p>Please choose your faculty below to continue.</p>

                <mat-button-toggle-group style="margin: 2%;" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle *ngFor="let faculty of baseFaculties, let indexOfFac = index" (click)="facClick(faculty.id,faculty.faculty_name)" value="bold" id="faculty.id" [checked]="facultyUISELECT[indexOfFac]">{{faculty.faculty_name}}</mat-button-toggle>
                </mat-button-toggle-group>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="StepThree(stepper)" style="background-color: #de0428; color: white;">Next</button>
                </div>
            </mat-step>



            <!-- STEP 4 WATCH VIDEOS ORIENTATION -->
            <mat-step label="Watch Orientation Videos" [completed]="stepFourComplete">
                <p>Watch at least 15% of videos to continue</p>

                <!---------------------------------------------------------------------------------------------------------->

                <h1 class="sec-title" style="padding-top: 20px; text-align: center; font-weight: bolder; font-size: 25px; color:#0019a1;"> {{facultyNameSelected}} </h1>
                <p style="color: #0d4794 ; text-align: center;"> {{campusNameSelected}} </p>

                <mat-card *ngFor="let category of videosData" style="margin: 2%;box-shadow: none; border-radius: 23%;border-width: 63pt;border-color: #0d4794;">
                    <h2 style="padding-top: 15px; font-weight:bold; font-size: 20px; color:#0019a1;"> {{category.category}} </h2>

                    <div class="row">
                        <div class="column" style="margin-left: 4%;" *ngFor="let content of category.content">
                            <!-- CASE OF VIDEO -->
                            <div class="card" style="width: 110%;" *ngIf="content.type == 'video', else noDocument">

                                <div id="instructions">
                                    <video id={{content.id}} class="video-js vjs-default-skin" (durationchange)="onPlayVideo(content.id)" controls preload="none" poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg' #videoplayer controls width="100%">
                                       <source src={{content.path}} type='video/mp4'/>
                                    </video>
                                    <p style="font-weight: bold; color: #de0428;">{{content.tittle}}</p>

                                </div>

                            </div>
                            <!-- CASE OF DOCUMENT PDF -->
                            <ng-template class="column" #noDocument>

                                <a href={{content.path}} target="_blank" style="text-decoration: underline; color: rgb(196, 0, 0);">
                                    <div class="card">
                                        <mat-card class="example-card">
                                            <mat-card-content>
                                                <img mat-card-image src="https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg" height="190px" alt="Photo of a Shiba Inu"> Click to download the first year Guide.
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </a>
                            </ng-template>
                        </div>


                    </div>
                    <div style="background-color: rgb(219, 219, 219); width: 90%;height: 1px;margin-top: 2%;"></div>
                </mat-card>


                <!-- ------------------------------------------------------------------------------------------------------->
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="StepFour(stepper)" style="background-color: #de0428; color: white;">Next</button>
                </div>
            </mat-step>

            <mat-step label="Survey">
                <ng-template matStepLabel>Survey</ng-template>
                <p> Please complete the survey</p>

                <ng-templete *ngFor="let question of baseSurveyQuestions,let indexOfelement=index;">
                    <br>
                    <div *ngIf="question.possible_answer.length > 1, else oneAnswer">
                        <mat-form-field style="width: 90%;margin-left: 2%;">
                            <mat-label>{{ question.question}}</mat-label>
                            <mat-select [id]="question.question_id" [(ngModel)]="baseSurveyAnswers[indexOfelement]">
                                <mat-option *ngFor="let eachanswer of question.possible_answer" id={{eachanswer.id}} value={{eachanswer.answer}}>
                                    {{eachanswer.answer}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <ng-template #oneAnswer>
                        <mat-form-field style="width: 90%;margin-left: 2%;">
                            <mat-label>{{question.question}}</mat-label>
                            <input matInput placeholder="Answer" id={{question.question_id}} [(ngModel)]="baseSurveyAnswers[indexOfelement]">
                        </mat-form-field>
                    </ng-template>

                </ng-templete>


                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="StepFive(stepper,false)" style="background-color: #de0428; color: white;">Next</button>
                </div>

            </mat-step>



            <!-- STEP 5 FINISH -->
            <mat-step label="Finish">
                <ng-template matStepLabel>Finish Online Orientation</ng-template>
                <p> You have successfully completed the 2022 online orientation. Thank you.</p>
                <p style="font-weight: bold;"> What's Next?</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)=" StepSix(stepper)" style="background-color: #0d4794; color: white; margin-left: 10%;">Restart course</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </mat-card>

</div>