<div   style=" height: 5%;width: 100%;margin-top: -10%;text-align: right;display: flex; justify-content:flex-end;position: absolute; "> 
    <div [@openClose]="isOpen ? 'open' : 'closed'" style="background-color: rgb(255, 255, 255);margin-right: -30%;box-shadow: 10px 24px 70px -18px rgba(0, 0, 0, 0.726);min-width: 15%;display: flex; justify-content: flex-start; padding: 0.0%;height: 100%;border-top-left-radius: 20px;border-bottom-left-radius: 20px;">   
            <img  src="https://i.ytimg.com/vi/SYD22wT6R9Y/maxresdefault.jpg" alt="" style="padding: auto;width:60px;height: 35px;margin-top:3%;margin-left: 3%;"/>
            <h4  style="margin-left: 0%;margin-top: 5%;">{{ messageProp }}</h4>
    </div>
</div>
