<p style="text-align: center; color: #0019a1;">Faculties available at Pretoria Campus</p>
<div class="button-grp">
  <button type="button" class="btn btn-primary" (click)="assignFaculty('engineering'); assignSurvey('engineering-survey')"> Engineering and the Build Environmment </button>
  <button type="button" class="btn btn-primary" (click)="assignFaculty(''); assignSurvey('science-pta-survey')"> Science </button>
  <button type="button" class="btn btn-primary" (click)="assignFaculty('man-science'); assignSurvey('man-science-survey')"> Management Sciences </button>
</div>