<div class="page-container" style="padding-bottom: 100px;">
  
    <mat-card>
      <h1 style="padding-top: 5px; text-align: center; font-weight: bolder; font-size: 30px; color:#0d4794;"> Blog </h1>
  
      <div>
        
      </div>


      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title> T-Res </mat-card-title>
          <mat-card-subtitle> Off-Campus Accomodation </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://dh2dlbjd2qx17.cloudfront.net/img/tres.png" alt="T-Res Image">
        <mat-card-content>
          <p>
            TRes is a digital platform built to enhance the quality of life for students in student accommodation while providing appropriate tools and support to accommodation providers. 
            The design and functionality of the platform aims to create ongoing interaction between students, accommodation providers and University administrators in a spirit of cooperation and mutual respect. 
            Each of the participants must always feel like their voice is heard.
            <a href='https://www.t-res.co.za' target="_blank"><span class="redirect-link" > Learn more about T-Res here.</span></a>
          </p>
        </mat-card-content>
    
      </mat-card>
  

      
      <mat-card class="card" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title> D2L BRIGHTSPACE </mat-card-title>
          <mat-card-subtitle> Learning Management System </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image id="mytutor" src="https://www.tut.ac.za/s-other/ICT/mytutor/PublishingImages/about.jpg" alt="Photo of a Shiba Inu">
        <img mat-card-image id="mytutor" src="https://dh2dlbjd2qx17.cloudfront.net/img/162084881_264834718600803_1057953804626203452_n.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p style="text-align: center;">
            <a href='https://mytutord2l.tut.ac.za/d2l/login' target="_blank"><span class="redirect-link"  > Click here to access D2L Brightspace.</span></a>
          </p>
        </mat-card-content>
    
      </mat-card>
    </mat-card>
 

   
  </div>

 

  