@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

/* Home Style */

header {
    color: #cfcfcf;
    position: relative;
    height: 110%;
    overflow: hidden;
  
}

header p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-bottom: 80px;
}

.intro-text {
    position: auto;
    padding-top: 100px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 50px;
    left: auto;
    right: auto;
}

.intro-text H1 {
    text-transform: uppercase;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-default {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 8px;
    padding: 12px 24px;
    font-size: 16px;
    transition: all 0.5s;
    border-radius: 4px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    background-color: #ca1b1b;
    color: white;
    border-color: 4px solid #FBC638;
    transition: 0.5s;
    transform: translateY(-6px);
    color: #ffffff;
    transform: translateY(-6px);
}

.btn:hover::before,
.btn:focus::before {
    opacity: 1;
}

.btn::after {
    content: '';
    width: 500px;
    height: 80px;
    border-radius: 100%;
    border: 4px solid #FBC638;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.btn:hover::after,
button:focus::after {
    animation: none;
    display: none;
}

.btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 11px;
    margin: 0px 8px 8px 8px;
    color: #ffffff;
    background-color: #fbdedb;
    display: inline-block;
    background: #0d4794;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
    font-size: large;
    border-radius: 800px;
}

.btn:hover,
.btn:focus {
    opacity: 0.8;
    color: #ffffff;
    transform: translateY(-6px);
}

.btn:hover,
.btn:focus {
    color: #ffffff;
    transform: translateY(-6px);
}

.btn.block {
    display: block !important;
}

.btn.circular {
    border-radius: 100em !important;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

@media screen and (min-width: 601px) {
    div.heading {
        font-size: 100px;
        font-weight: bolder;
        color: white;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    div.heading {
        font-size: 30px;
        font-weight: bolder;
        color: white;
    }
    .btn {
        align-self: start;
        ;
    }
}

.blue {
    background-color: #0d4794;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 50%;
    padding: -5px 5px 0 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    margin-top: -5px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 500px;
    min-height: 100px;
    font-size: 40px;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: #22413d;
    background: linear-gradient(90deg, #0d4794 0%, #0d4794 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(43, 81, 248, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: 500px;
    min-height: 100px;
    border: 4px solid #00b8d8;
    box-shadow: 0 0 60px rgba(0, 140, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: #ffffff;
    transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 500px;
    height: 80px;
    border-radius: 100%;
    border: 4px solid #00b8d8;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: rgb(255, 255, 255);
    transition: all .35s;
    font-weight: 200;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, .2);
    z-index: 1;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222;
}

#mainNav .navbar-nav>li>a {
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    color: #0d4794;
    letter-spacing: 1px;
    font-weight: bold;
}

#mainNav .navbar-nav>li>a:hover {
    font-weight: bold;
    font-size: 20px;
}

#mainNav .navbar-nav>li>a.active {
    color: #fdcc52 !important;
    background-color: transparent;
}

#sign-in {
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    color: #0d4794;
    letter-spacing: 2px;
    font-weight: bold;
}

.user-img {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}


