@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

/* Home Style */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
body,
html {
    overflow: hidden;
    width: 100%;
}

.container {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 20%;
    margin-top: -20%;
    background: #00000091;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container .box {
    width: 100%;
    height: 950px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: -200px;
}

.container .box .title {
    width: 200%;
    position: relative;
    display: flex;
    align-items: center;
    height: 200px;
}

.container .box .title .block {
    width: 0%;
    height: inherit;
    background: #de0428;
    position: absolute;
    -webkit-animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
}

.container .box .title h1 {
    font-family: "Poppins";
    color: #fff;
    text-shadow: 2px 2px #0d4794;
    font-size: 95px;
    -webkit-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    font-weight: 900;
    align-items: center;
    position: relative;
}

.container .box .title h1 span {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #ffffff;
    -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    position: absolute;
    bottom: 40px;
}

.container .box .role {
    width: 150%;
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
}

.container .box .role .block {
    width: 0%;
    height: inherit;
    background: #0d4794;
    position: absolute;
    -webkit-animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    display: flex;
}

.container .box .role p {
    display: flex;
    -webkit-animation: secFadeIn 2s forwards;
    animation: secFadeIn 2s forwards;
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 600;
    font-family: "Lato";
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@-webkit-keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@-webkit-keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@-webkit-keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: #ffffff;
        border: 0px solid #ddd;
        opacity: 0;
    }
    50% {
        width: 10px;
        height: 10px;
        background: #ffffff;
        opacity: 1;
        bottom: 45px;
    }
    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px;
    }
    80% {
        width: 10px;
        height: 10px;
        bottom: 20px;
    }
    100% {
        width: 7px;
        height: 7px;
        background: #ffffff;
        border: 0px solid #222;
        bottom: 13px;
    }
}

@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: #ffffff;
        border: 0px solid #ddd;
        opacity: 0;
    }
    50% {
        width: 10px;
        height: 10px;
        background: #ffffff;
        opacity: 1;
        bottom: 45px;
    }
    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px;
    }
    80% {
        width: 10px;
        height: 10px;
        bottom: 20px;
    }
    100% {
        width: 7px;
        height: 7px;
        background: #ffffff;
        border: 0px solid #222;
        bottom: 5px;
    }
}

@-webkit-keyframes secFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    width: 350px;
    height: 80px;
    background: #ffb510;
    position: absolute;
    right: 0;
    bottom: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: top 0.8s forwards;
    animation: top 0.8s forwards;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

footer span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #232323;
    font-family: "Poppins";
}

footer span i {
    margin-right: 25px;
    font-size: 22px;
    color: #232323;
    -webkit-animation: icon 2s forwards;
    animation: icon 2s forwards;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    opacity: 0;
}

@-webkit-keyframes top {
    0% {
        opacity: 0;
        bottom: -80px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes top {
    0% {
        opacity: 0;
        bottom: -80px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@-webkit-keyframes icon {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.3) rotate(-2deg);
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes icon {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.3) rotate(-2deg);
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}


/* STYLING TEXT */

header {
    color: #cfcfcf;
    position: relative;
    height: 110%;
    overflow: hidden;
}

header p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-bottom: 80px;
}

.intro-text {
    position: auto;
    padding-top: 100px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 50px;
    left: auto;
    right: auto;
}

.intro-text H1 {
    text-transform: uppercase;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-default {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 8px;
    padding: 12px 24px;
    font-size: 16px;
    transition: all 0.5s;
    border-radius: 4px;
}

.myButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    text-align: center;
    color: #ffc000;
    font-weight: bold;
    height: 80px;
    width: 250px;
    background-color: #0d4794;
    font-size: 25px;
    border-radius: 20px;
}

.myButton:hover {
    color: #ffc000;
    background-color: #0d4794;
    box-shadow: 0 0 100px 30px #0d4794, 0 0 100px 30px #0d4794, 0 0 100px 30px #0d4794, 0 0 100px 30px #0d4794;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    background-color: #ca1b1b;
    color: white;
    border-color: 4px solid #FBC638;
    transition: 0.5s;
    transform: translateY(-6px);
    color: #ffffff;
    transform: translateY(-6px);
}

.btn:hover::before,
.btn:focus::before {
    opacity: 1;
}

.btn::after {
    content: '';
    width: 500px;
    height: 80px;
    border-radius: 100%;
    border: 4px solid #FBC638;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.btn:hover::after,
button:focus::after {
    animation: none;
    display: none;
}

.btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 11px;
    margin: 0px 8px 8px 8px;
    color: #ffffff;
    background-color: #fbdedb;
    display: inline-block;
    background: #0d4794;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
    font-size: large;
    border-radius: 800px;
}

.btn:hover,
.btn:focus {
    opacity: 0.8;
    color: #ffffff;
    transform: translateY(-6px);
}

.btn.block {
    display: block !important;
}

.btn.circular {
    border-radius: 100em !important;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

@media screen and (min-width: 601px) {
    div.heading {
        font-size: 100px;
        font-weight: bolder;
        color: white;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    div.heading {
        font-size: 30px;
        font-weight: bolder;
        color: white;
    }
    .btn {
        align-self: start;
        ;
    }
}

.blue {
    background-color: #0d4794;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 50%;
    padding: -5px 5px 0 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    margin-top: -5px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 500px;
    min-height: 100px;
    font-size: 40px;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: #22413d;
    background: linear-gradient(90deg, #0d4794 0%, #0d4794 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(43, 81, 248, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: 500px;
    min-height: 100px;
    border: 4px solid #00b8d8;
    box-shadow: 0 0 60px rgba(0, 140, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: #ffffff;
    transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 500px;
    height: 80px;
    border-radius: 100%;
    border: 4px solid #00b8d8;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: rgb(255, 255, 255);
    transition: all .35s;
    font-weight: 200;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, .2);
    z-index: 1;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222;
}

#mainNav .navbar-nav>li>a {
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    color: #0d4794;
    letter-spacing: 1px;
    font-weight: bold;
}

#mainNav .navbar-nav>li>a:hover {
    font-weight: bold;
    font-size: 20px;
}

#mainNav .navbar-nav>li>a.active {
    color: #fdcc52 !important;
    background-color: transparent;
}

#sign-in {
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    color: #0d4794;
    letter-spacing: 2px;
    font-weight: bold;
}

.user-img {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}