    
<div class="container page-container">
    <mat-card >
        <h1 class="sec-title"> Sign in </h1>
        <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
        
            <!-- Icon -->
            <div class="fadeIn first" style="display: none; padding-bottom: 10px;">
                <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
            </div> 
        
            <!-- Login Form -->

            <span *ngIf="error" (click)="removeError()" >{{error}}</span>
            <form #myForm="ngForm">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input placeholder="Username" type="email" class="form-control" name="email" [(ngModel)]="email" required>
                    <div class="invalid-feedback">
                        <div >Username is required</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input placeholder="password" type="password" class="form-control" name="password" [(ngModel)]="password" required/>
                    <div class="invalid-feedback">
                        <div >Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button  type="submit" class="btn btn-primary" style="width: 85%; margin-top: 20px;" (click)="login()">
                        Login
                    </button>
                </div>
            </form >
            

            <!--<form  *ngIf="!isSignedIn">
                <h3 style="font-weight: bold; color: #0d4794;"> Provide Credentials to login </h3>
                <div class="form-group">
                     <label for="exampleInputPassword1">Student Number</label>
                     <input type="text" id="studentNum" class="fadeIn second" name="studNum" class="form-control" placeholder="Enter student number">
                     <br>
                     <label for="exampleInputPassword1">Password</label>
                     <input type="text" formControlName="password" id="password" class="fadeIn third" name="login" class="form-control" placeholder=" Enter password">
                     <br>
                </div>
               
                <div class = "form-group">
                <input type="submit" class="fadeIn fourth" href="./campus" value="Sign In">-->
                <!--<a type="submit" class="button" routerLink="/welcome" value="Sign In" id="password" style="width: 85%; margin-top: 20px; background-color: #0d4794;"> Sign In </a>
                </div>
            </form>-->
        
            <!-- Remind Passowrd -->
            <!---<h1 *ngIf="firebaseService.user | async">Welcome {{ (firebaseService.user | async)?.email }}!</h1>

            <div *ngIf="!(firebaseService.user | async)"  class = "form-group">
              <input type="text" [(ngModel)]="email" placeholder="email">
              <input type="password" [(ngModel)]="password" placeholder="password">
            
              <button (click)="signup()" [disabled]="!email || !password">
                Signup
              </button>
            
              <button (click)="login()" [disabled]="!email || !password">
                Login
              </button>
            </div>
            
            <button (click)="logout()" *ngIf="firebaseService.user | async">
              Logout
            </button>-->

            <div id="formFooter">
                <a class="underlineHover" href="#"><span class="text-danger">Forgot Password?</span></a>
                <p> </p>
                <button class="button" style="width: 100%; margin-top: 20px;" routerLink="/student-reg"> Sign up </button>
            </div> 
            </div>
        </div>
    </mat-card>
</div> 

