<mat-card>
    
  <h1 class="sec-title" style="padding-top: 20px; text-align: center; font-weight: bolder; font-size: 25px; color:#0d4794;">  Faculty of Management Sciences </h1>
  <p style="color: #0d4794 ; text-align: center;"> Pretoria Campus </p>
  <mat-card>

    <h2  style="padding-top: 15px; font-weight:bold; font-size: 20px; color:#0d4794;" > Office of the Dean </h2>
    
    <div class="row">
      <div class="column">
        <div class="card">

          <div id="instructions">
              <!--
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              -->
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                  #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/New+Videos/Dr+Edgar+Nesamvuni.mp4" type='video/mp4' />

              </video>
              <p style="font-weight: bold; color: #de0428;">Executive Dean</p>
          
            </div>

        </div>
      </div>
      <div class="column">
        <div class="card">
          <div id="instructions">
            
            <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
              poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
               #videoplayer controls  width="100%">
              <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/faculties/Management+Sciences/TUT+2021+Orientation+Pretoria-West+campus_2.mp4" type='video/mp4' />
             
            </video>
           
        </div>
        <p style="font-weight: bold; color: #de0428;"> Induction & Orientation </p>
        </div>
      </div>
      
      <div class="column">
          
        <a href="https://dh2dlbjd2qx17.cloudfront.net/videos/New+Videos/booklets/Management+Sciences+First+year+orienation+booklet_2022.pdf" target="_blank" style="text-decoration: underline; color: rgb(196, 0, 0);">
          <div class="card">
            <mat-card class="example-card">
                <mat-card-content>
                    <img mat-card-image  src="https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg" height="130px" alt="Photo of a Shiba Inu">
                  
                    Click to download the first year Guide.
                  </mat-card-content>
              </mat-card>
          </div>
        </a>
    </div>
    </div>
  </mat-card>


    <mat-card>
        
      <h1 style="padding-top: 15px; font-weight:bold; font-size: 20px; color:#0d4794;"> Departments and Units</h1>
      
      <div class="row">

        <div class="column">
          <div class="card">
  
            <div id="instructions">
                <!--
                    <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                  poster='http://video-js.zencoder.com/oceans-clip.jpg'
                  data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                  <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                  <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
  
                -->
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                    #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/New+Videos/Prof+Ndivhuwo+Tshipala.mp4" type='video/mp4' />
                  
                </video>
                
            </div>
            <p style="font-weight: bold; color: #de0428;"> Tourism Management </p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div id="instructions">
              <!--
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              -->
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                  #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/New+Videos/Dr+Malome+Shai.mp4" type='video/mp4' />
              
              </video>
              
          </div>
          
          <p style="font-weight: bold; color: #de0428;"> Hospitality Management </p>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <div id="instructions">
              <!--
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              -->
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                  #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/New+Videos/Dr+Patrick+Ebewo.mp4" type='video/mp4' />
                
              </video>
              
          </div>
          <p style="font-weight: bold; color: #de0428;"> Management and Entrepreneurship  </p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div id="instructions">
              <!--
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              -->
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                  #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/faculties/Management+Sciences/Dr+Estelle+Bruhns-(HEAD+OF+DEPARMENT+BUSINESS+%26+INFORMATION+MANAGEMENT+SERVICES).mp4" type='video/mp4' />
                
              </video>
              
          </div>
          <p style="font-weight: bold; color: #de0428;"> Business and Information and Management Services </p>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <div id="instructions">
              <!--
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              -->
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                  #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/New+Videos/Dr+Thomas+Munyai.mp4" type='video/mp4' />
                
              </video>
              
          </div>
          <p style="font-weight: bold; color: #de0428;"> Operations Management </p>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <div id="instructions">
              <!--
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              -->
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                  #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/New+Videos/Dr+Leigh+Anne+Paul+Dachapalli.mp4" type='video/mp4' />
                
              </video>
              
          </div>
          <p style="font-weight: bold; color: #de0428;"> People Management and Development </p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div id="instructions">
              <!--
                  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="400px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }' #videoplayer controls (ended)="showSurvey">
                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />

              -->
              <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                  #videoplayer controls  width="100%">
                <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/New+Videos/Dr+Elizma+Wannenburg.mp4" type='video/mp4' />
                
              </video>
              
          </div>
          <p style="font-weight: bold; color: #de0428;"> Marketing, Supply Chain Management and Sport Management </p>
          </div>
        </div>

      </div>

  
    
    </mat-card>

    <mat-card>
        
      <h1 style="padding-top: 15px; font-weight:bold; font-size: 20px; color:#0d4794;"> Campus and Support </h1>
      
      <div class="row">
        <div class="column">
          <div class="card">
  
            <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                    #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/faculties/Management+Sciences/campus-support/Academic+Excellence+Office.mp4" type='video/mp4' />
                </video>
                
            </div>
            <p style="font-weight: bold; color: #de0428;">Academic Excellence Office</p>
          </div>
        </div>
        

          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/campus-support/SDS+Orientation.mp4" type='video/mp4' />
                  
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;">Student Development & Support</p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/general/Health+%26+Wellness%2C+an+Introduction.mp4" type='video/mp4' />
          
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;"> Health & Wellness </p>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/general/What+is+a+study+guide.mp4" type='video/mp4' />
                 
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;"> MyTUTor, What is a Study Guide?</p>
            </div>
          </div>
         
          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/campus-support/OMBUDSMAN+INTERVIEW.mp4" type='video/mp4' />
                  
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;"> Student Ombudsman </p>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/general/Welcome+Class+of+2021-+your+health+is+in+your+hands.mp4" type='video/mp4' />
                  
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;"> Higher Health </p>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/campus-support/Student+Governance+%26+Leadership+Development.mp4" type='video/mp4' />
                  
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;"> SGLD </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div id="instructions">
                
                <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                  poster='https://dh2dlbjd2qx17.cloudfront.net/img/video-cover.jpg'
                   #videoplayer controls  width="100%">
                  <source src="https://dh2dlbjd2qx17.cloudfront.net/videos/New+Videos/Jack+Sibanyoni.mp4" type='video/mp4' />
                  
                </video>
               
            </div>
            <p style="font-weight: bold; color: #de0428;"> Extracurricular Development </p>
            </div>
          </div>
      </div>
      
    </mat-card>
</mat-card>